<div class="col-10 offset-1">
  <h1>workouts</h1> | <p><%= link_to "View as a list", user_workouts_path(list: true) %></p>

  <%= month_calendar(events: @workouts) do |date, workouts| %>
    <div><%= date.day %></div>
    <% workouts.each do |workout| %>
      <div>
        <%= workout.scheduled_for.strftime("%I:%M %p") %> -
        <%= link_to workout.title, user_workout_path(current_user, workout) %>
      </div>
    <% end %>
  <% end %>




</div>
