<h1>Add some</h1>

<%= simple_form_for @workout, url: user_video_workouts_path do |f| %>
  <% if @workout.errors.any? %>
    <%= @workout.errors.full_messages %>
  <% end %>
  <%= f.input :title %>
  <%= f.input :video_id, default: :video_id %>
  <%= f.input :scheduled_for,
    order: [:month, :day, :year],
    html5: true %>
    <%= f.submit 'Create' %>
<% end %>
