<div class="col-12 col-lg-10 mx-auto mt-3">
  <h1>Video Library</h1>
  <hr />
  <% if current_user.videos.present? %>
    <div class="card-columns">
      <% current_user.videos.each do |video| %>
        <div class="card">
          <div class="embed-responsive embed-responsive-4by3">
            <%= VideosHelper::render_youtube_placeholder(video.youtube_id) %>
          </div>
          <div class="card-body">
            <%= video.title %>
          </div>
          <% if current_user.present? && current_user = video.user %>
          <div class="card-footer">
            <%= link_to 'Schedule workout', new_user_video_workout_path(current_user, video), class: 'card-link' %>
            <%= link_to 'Delete', user_video_path(current_user, video), method: :delete, data: {confirm: 'This will also delete all the associated workouts. Are you sure?'}, class: 'card-link text-danger' %>
          </div>
          <% end %>
        </div>
      <% end %>
      </div>
  <% else %>
    <div class="col-6 mx-auto">
      <p>You don't have any videos yet. </p>
      <p><%= link_to 'Add videos to your library', new_user_video_path(current_user) %></p>
    </div>
  <% end %>
  <%# this line renders players for all the videos available %>
  <%= VideosHelper::render_youtube_players(@youtube_ids) %>
</div>
