<div class="col-12 col-lg-10 px-4 mx-auto mt-3">
  <div class="col-md-8 mx-auto">
    <h1 class="text-center">Add YouTube Videos</h1>
    <p class="lead text-center">Start with creating a colletion of videos. Once you add the YouTube video, you will be able to create and schedule a workout with it.</p>
    <br />
    <%= simple_form_for @source_video || :source_video, url: new_user_video_path, method: 'GET' do |f| %>
    <div class="row mx-0">
      <%= f.input :url, label: false, placeholder: 'Paste YouTube video link here', wrapper_html: { class: 'col-9 px-2' }%>
      <div class="form-group">
      <%= f.submit 'Show video', class: 'btn btn-info' %>
      </div>
    </div>
    <% end %>
  </div>
  <br />
  <% if @source_video && @source_video.youtube_id.present? %>
  <div class="row border-bottom py-3 mb-3">
    <div class="col-sm-6">
      <div class="embed-responsive embed-responsive-16by9">
        <%= VideosHelper::render_youtube_placeholder(@source_video.youtube_id) %>
      </div>
    </div>
      <div class="col-sm-6 px-4">
        <h4>Save video to your library:</h4>
        <br />
        <h5><%= @video.title %></h5>
        <p>Video duration: <%= @video.duration %> minutes</p>

        <%= simple_form_for @video, url: user_videos_path do |f| %>
          <%= f.hidden_field :youtube_id, value: @source_video.youtube_id %>
          <%= f.hidden_field :standard_thumbnail, value: @video.standard_thumbnail %>
          <%= f.hidden_field :title %>
          <%= f.hidden_field :duration, value: @video.duration %>
          <%= f.submit 'Save it', class: 'btn btn-info' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <br />
  <% if @videos.present? %>
    <h3>Recently added videos <span><%= link_to '| View all', user_videos_path(current_user) %></span></h3>
    <div class="card-columns">
      <% @videos.last(3).each do |video| %>
        <div class="card">
          <div class="embed-responsive embed-responsive-4by3">
            <%= VideosHelper::render_youtube_placeholder(video.youtube_id) %>
          </div>
        <div class="card-body">
          <%= video.title %>
        </div>
        <% if current_user.present? && current_user = video.user %>
        <div class="card-footer">
          <%= link_to 'Schedule workout', new_user_video_workout_path(current_user, video), class: 'card-link' %>
          <%= link_to 'Delete', user_video_path(current_user, video), method: :delete, data: {confirm: 'This will also delete all the associated workouts. Are you sure?'}, class: 'card-link text-danger' %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>

  <%# this line renders players for all the videos available %>
  <%= VideosHelper::render_youtube_players(@youtube_ids) %>
</div>
