<div class="col-8 mx-auto">
  <h1>Search for YouTube Videos</h1>
  <br />
  <%= simple_form_for @source_video || :source_video, url: new_user_video_path, method: 'GET' do |f| %>
    <%= f.input :url %>
    <%= f.submit 'Show video', class: 'btn-primary' %>
  <% end %>
  <br />
  <% if @source_video && @source_video.youtube_id.present? %>
    <%= VideosHelper::render_youtube_placeholder(@source_video.youtube_id) %>
    <h3>Save video</h3>
    <%= simple_form_for @video, url: user_videos_path do |f| %>
      <%= f.hidden_field :youtube_id, value: @source_video.youtube_id %>
      <%= f.submit 'Create', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
  <br />
  <% if @videos.present? %>
    <h3>My videos</h3>
    <% @videos.each do |video| %>
      <%= VideosHelper::render_youtube_placeholder(video.youtube_id) %>
    <% end %>
  <% end %>

  <%# this line renders players for all the videos available %>
  <%= VideosHelper::render_youtube_players(@youtube_ids) %>
</div>
